.header_container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    font-size: 25px;
    color:#e4e4e4;
    z-index: 999999;
    position: fixed;
    width: 100%;
}

.header_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: color 0.5s, transform 1s;
    cursor: pointer;

}
.header_title:hover {
    color:#9885ce;
    transform: scale(1.05);
}

.header_nav {
    display: flex;
    justify-content: center;
    gap: 150px;

}

.header_nav_item {
    display: flex;
    align-items: center;
    transition: color 0.5s, transform 1s;
    cursor: pointer;
}
.header_nav_item:hover {
    color: #9885ce;
    transform: scale(1.05);
}

.header_tabs {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content:space-between;
}

.header_sign_in_container {
    display: flex;
    align-items: center;
    gap: 7px;
    transition: color 0.5s, transform 1s;
    cursor: pointer;
}
.header_sign_in_container:hover {
    color: #9885ce;
    transform: scale(1.05);
}
.header_sign_in_container svg g {
    transition: fill 0.5s, transform 1s;
}
.header_sign_in_container:hover svg g {
    fill: #9885ce;
}

.header_burger {
    display: flex;
    align-items: center;
    transition: color 0.5s;
    cursor: pointer;
}
.header_burger svg g line {
    transition: stroke 0.5s;
}
.header_burger:hover svg g line {
    stroke: #9885ce;
}