:root {
    --sizeDesktop: 110vh;
    --widthContainer: 100vw;
    --sizeSecDesktop: 65vh;
}

.main_container {
    background: radial-gradient(at 50% 50%, #515181 , #030A20) no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.main_container::before {
    content: '';
    width:var(--sizeDesktop);
    height: var(--sizeDesktop);
    position: absolute;
    border-radius: 50%;
    border:1px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.main_container::after {
    content: '';
    width:var(--sizeSecDesktop);
    height: var(--sizeSecDesktop);
    border-radius: 50%;
    border:1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
