.m_swiper_custom_wrapper {
    display: flex!important;
    align-items: center;
    height: 100%;
    justify-content: center;
    transform: rotate(-35deg);
    z-index: 55;
    position: relative;
}

.m_mySwiper {
    display: flex!important;
    align-items: center;
    width: 125vw;
    height: 100vh;
    border-radius: 50%;
}

.m_swiper_item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
    background: white;
    width: 20vw;
    height: 20vw;
    transform: rotate(35deg);
    cursor: pointer;
}

.m_swiper_item_text {
    color:black;
    font-size: 1.5vw;
    display: block;
}

.m_swiper_item_text_other {
    color:black;
    font-size: 2.2vw;
    font-weight: 700;
}

.m_invisible_text {
    display: none;
}

.m_slider_item_btn_active {
    padding: 1vw 1vw;
    border:1px solid black;
    border-radius: 5px;
    font-size: 1.5vw;
    text-decoration: none;
    color:black;
    transition: color 0.5s, transform 0.5s, border 0.5s;
}
.m_slider_item_btn_active:hover {
    border:1px solid #9885ce;
    color:#9885ce;
    transform: scale(1.05);
}

.m_swiper_team_one_active {
    position: absolute;
    bottom: 50vh;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 5vh;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    font-size: 4vw;
}

.m_swiper_team_two_active {
    position: absolute;
    top: 52vh;
    right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 5vh;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    font-size: 4vw;

}

.m_swiper_team_disable {
    display: none;
}

.m_swiper_item_text_other_disable {
    font-size: 3vw;
    font-weight: 700;
    display: block;
    text-align: center;
}




/* root style swiperJS */

.swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all ease-in-out .3s
}

.swiper-slide-active {
    transform: scale(1.5)!important;
}

.swiper-slide-next {
    transform: scale(1.1)!important;
}

.swiper-slide-prev {
    transform: scale(1.1)!important;

}














